@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Dashboard</h2>

@Html.ActionLink("Manage Admins", "Manage")
@using (Html.BeginForm("LogOff", "Admin"))
{
    <input type="submit" class="btn btn-default" value="Log out" />
}